{{- if and .Values.rbac.create .Values.rbac.createClusterRole }}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "{{ service_name_kebab }}.fullname" . }}-cluster-manager
  labels:
    {{- include "{{ service_name_kebab }}.labels" . | nindent 4 }}
rules:
  {{- range .Values.rbac.clusterRules }}
  - apiGroups: {{ .apiGroups | toJson }}
    resources: {{ .resources | toJson }}
    verbs: {{ .verbs | toJson }}
    {{- if .resourceNames }}
    resourceNames: {{ .resourceNames | toJson }}
    {{- end }}
    {{- if .nonResourceURLs }}
    nonResourceURLs: {{ .nonResourceURLs | toJson }}
    {{- end }}
  {{- end }}
{{- end }}